@model Restaurant

@{
    ViewBag.Title = $"Edit: {Model.Name}";
}

<div>
    <h1>Editing: @Model.Name</h1>
    <div>
        <form method="post" asp-antiforgery="true"> 
            @*html helpery mereikia pazymet generuoja token
             pagal default tag helper naudojant reik nurodyti*@
            <div>
                <label asp-for="Name"></label> @*Nerasom Vardo nes paims is anotation*@
                <input asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <label asp-for="Cuisine"></label>
                <select asp-for="Cuisine"  asp-items="@Html.GetEnumSelectList(typeof(CuisineType))">
                </select>
                <span asp-validation-for="Cuisine"></span>
            </div>
            <div>
                <input type="submit" value="Save!" />
            </div>

        </form>

       @*palyginti fu forma kur Create view ten su html helper padaryta*@


    </div>
</div>